* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    pointer-events: none;
}

ul {
    list-style: none;
}

html,
body,
#root {
    height: 100%;
}